
.icon-link:before { content: '\e800'; } /* '' */
.icon-search-outline:before { content: '\e801'; } /* '' */
.icon-man:before { content: '\e802'; } /* '' */
.icon-mpesa-outline:before { content: '\e803'; } /* '' */
.icon-mpesa:before { content: '\e804'; } /* '' */